<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tham số hệ thống</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Trang chủ</a>
            </li>
            <li class="active">
                <strong>Tham số hệ thống</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-2">
                <button data-controls-modal="systemModal" data-backdrop="static" data-keyboard="false" class="btn btn-sm btn-primary" ng-click="open()">Thêm mới</button>
            </div>
            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input type="text" placeholder="Tìm kiếm..." class="input-sm form-control" ng-model="keyword" ng-enter="search()"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="search()"> Tìm</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th width="30px;">STT</th>
                                <th>TIÊU ĐỀ</th>
                                <th>GIÁ TRỊ</th>
                                <th>MÔ TẢ</th>
                                <th>LOẠI</th>
                                <th>TRẠNG THÁI</th>
                                <th style="width:100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listItem">
                                <td>{{recordsPerPage*(currentPage-1)+$index+1}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.type===1?'********':item.value}}</td>
                                <td>{{item.description===null?'N/A':item.description}}</td>
                                <td>{{item.type|systemConfigFilter}}</td>
                                <td>{{item.active | statusFilter}}</td>
                                <td>
                                    <div class="btn-group pull-right" ng-hide="{{item.allowClientEdit}}===false">
                                        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Thao tác <span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a data-toggle="modal" title="Chỉnh sửa" ng-click="open(item)">
                                                    Sửa
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Xóa project" ng-click="deleteSystemConfig(item.id)">
                                                    Xóa
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td colspan="7" class="footable-visible">
                                    <span class="pagination pull-right">
                                        <ul uib-pagination items-per-page="recordsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="getListSystemConfig(currentPage)" class="pagination-sm" rotate="false" boundary-links="true" force-ellipses="true" first-text="<<" last-text=">>" next-text=">" previous-text="<"></ul>
                                    </span>
                                </td>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="systemConfigAddOrEdit.html">
        <div id="systemModal">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Cập nhật tham số hệ thống</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Tiêu đề</label>
                        <div class="col-sm-9">
                            
                            <input type="text" placeholder="Tiêu đề" id="title" class="form-control" ng-model="$ctrl.systemConfig.title" autofocus />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Giá trị</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="Giá trị" name="value" class="form-control" ng-model="$ctrl.systemConfig.value">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Mô tả</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="Mô tả" name="description" class="form-control" ng-model="$ctrl.systemConfig.description">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Loại</label>
                        <div class="col-sm-4">
                            <select class="input-sm form-control" ng-model="$ctrl.systemConfig.type" ng-options="x as x.name for x in $ctrl.arrTypes track by x.value"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Đơn vị được sửa</label>
                        <div class="col-sm-2">
                            <input type="checkbox" name="allowClientEdit" ng-model="$ctrl.systemConfig.allowClientEdit">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Trạng thái</label>
                        <div class="col-sm-2">
                            <input type="checkbox" name="active" ng-model="$ctrl.systemConfig.active">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.ok()">Lưu</button>
                <button type="button" class="btn btn-sm btn-facebook" ng-click="$ctrl.cancel()">Hủy</button>
            </div>
        </div>
    </script>
</div>