<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">VLA</h1>

        </div>
        <h3> </h3>
        <p>
             
        </p>
        <p> </p>
        <form class="m-t" role="form" action="#" method="post" ng-submit="loginSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="" ng-model="loginData.userName">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="loginData.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Đăng nhập</button>

            <a href="#"><small>Quên mật khẩu?</small></a>
            <p class="text-muted text-center"><small>Bạn chưa có tài khoản?</small></p>
         </form>
        <p class="m-t"> <small>Copyright</small> </p>
    </div>
</div>
